src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="66f013cb-4aa3-40cc-9da7-96f31c5d4c75" file="conf/local.yaml" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="90622ef1-87b1-4607-847f-a63408b2e00c" basePath="${middleware.http.common.path}" >
		<http:listener-connection host="0.0.0.0" port="${middleware.http.api.port}" />
	</http:listener-config>
	<db:config name="Postgres_OBJECTS_Config" doc:name="Database Config" doc:id="4f76ffd6-77e4-4f2f-bbe9-cfd42629fd84" >
			<db:generic-connection url="${middleware.postgres.objects.url}" driverClassName="org.postgresql.Driver" user="${middleware.postgres.objects.username}" password="${middleware.postgres.objects.password}" />
	</db:config>
	<flow name="mainFlow" doc:id="9428c630-3346-480f-bee2-f3275c31bbab" >
		<http:listener doc:name="Listener" doc:id="911484d6-ecf8-4550-ab97-3ed27e4f62aa" config-ref="HTTP_Listener_config" path="${middleware.http.api.path}/*" allowedMethods="POST">
			<non-repeatable-stream />
		</http:listener>
		<set-variable value="#[now().milliseconds]" doc:name="Время начала работы коннектора" doc:id="f93e60fd-7320-4fa8-848d-f7149e0da661" variableName="startTime" />
		<logger level="INFO" doc:name="[INFO] Начало работы mainFlow" doc:id="bb1c5685-ab10-4f63-b8b1-826ee8fbaaf3" message="#[output application/json&#10;---&#10;{&#10;	info: 'Начало работы mainFlow',&#10;	elapsedTime: now().milliseconds - vars.startTime&#10;}]" />
		<set-variable value="#[output application/json&#10;---&#10;payload as Array]" doc:name="Забираем payload" doc:id="db16df7a-d8b4-4dbe-851a-965ac8bdc629" variableName="data"/>
		<set-variable value="#[output text/plain&#10;---&#10;attributes.requestUri]" doc:name="Забираем requestUri" doc:id="ab491301-32a6-4e35-afda-f587b2cedfbb" variableName="uri"/>
		<parallel-foreach doc:name="Защита [Parallel For Each]" doc:id="65edfe2d-a8b8-44d9-98a2-f4fad6d3bec8" collection="#[[null]]" maxConcurrency="1">
			<flow-ref doc:name="Валидируем сообщения" doc:id="af4e178d-fba3-4b45-8af4-dc5dc0181be4" name="validateMessagesSubFlow" />
			<flow-ref doc:name="Трансформируем сообщения" doc:id="d7a1d5dd-93de-4464-a3d7-7f0a87ecf881" name="transformMessagesSubFlow" />
			<flow-ref doc:name="Сохраняем сообщения в таблицу" doc:id="33ae02e5-e019-42f2-b618-bcc99a1abcf3" name="insertDataSubFlow" />
		</parallel-foreach>
		<set-payload value="#[output application/json&#10;---&#10;payload[0].payload]" doc:name="Установка результирующего payload" doc:id="9ed532fa-1320-4d5a-b653-bf56229e8f6a" />
		<logger level="INFO" doc:name="[INFO] Конец работы mainFlow" doc:id="7475a737-3597-4b95-b19b-f5d6e24f9645" message="#[output application/json&#10;---&#10;{&#10;	info: 'Конец работы mainFlow',&#10;	elapsedTime: now().milliseconds - vars.startTime&#10;}]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="35a8ac94-19f8-4a7d-a7a4-1a9798019800" >
				<flow-ref doc:name="Общая ошибка" doc:id="f36c38c5-a47d-4512-b5fd-f2a51eba4f66" name="errorSubFlow"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
